.product-title{
    color: #3B2F4A;
}
.feature-product{
    background-color: #f8f9fa;
    padding: 40px 25px;
}
.carousel-image{
    height: 100%;
}
.slide-middle{
    margin: 5px 20px;
}
.seller{
    letter-spacing: 10px;
    color: #2b2b2b;
    font-weight: bold;
}
.slide-middle h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.slide-middle .description{
    border-left: 3px solid rgb(172, 172, 172);
    padding-left: 20px;
    margin-bottom: 20px;
}
img.carouselImg.img-fluid {
    height: 265px;
}
.slick-dots li button:before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #f58500;
}
.slick-next:before, .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #eaa451;
}

@media (max-width: 991px) {
    img.carouselImg.img-fluid {
        height: 447px;
        width: 520px;
    }
}