.subscribe{
    background-color: #3B2F4A;
    padding: 100px 20px;
    color: #fff;
}
.subDesciption{
    font-size: 17px;
    margin: 10px;
    font-weight: 700;
}
.subcribeForm{
    border: 1px solid #6b6b6b;
    line-height: 40px;
}
.subcribeForm input{
    background: transparent;
    border: none;
    outline: none;
    padding: 1px 5px;
    color: #fff;
}
.subscribeBtn{
    background-color: #EAA451!important;
    color: #fff!important;
    border: none;
    outline: none;
    border: 1px solid #EAA451;
    transition: 0.7s;
    line-height: 38px;
}
.subscribeBtn:hover{
    background-color: #3B2F4A!important;
    color: #EAA451!important;
}